<nav class="navbar navbar-expand-lg text-white " style="background-color:rgb(0,127,255);">
    <div class="container-fluid">
      <a class="navbar-brand text-white"   routerLink="">Angular Services</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-white me-auto mb-2 mb-lg-0">
        <li class="nav-item">
                <a class="nav-link  text-white" routerLinkActive="active" aria-current="page" routerLink="/users">Users</a>
         </li>
          <li class="nav-item">
            <a class="nav-link  text-white" routerLinkActive="active" aria-current="page" routerLink="/followers">followers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" routerLink="/forms">Reactive Forms</a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>
