<div class="container py-5">
  <div class="row">
    <div class="col-xl-8 py-5">
      <div *ngIf="errorMessage">
        <div class="alert bg-danger text-white">
          {{errorMessage}}
        </div>
      </div>
      Angular Crud With Json Server concepts HTTP Client,Services ,DI,Error
      Handling.
    </div>
    <div class="col-xl-4">
      <button
        type="button"
        class="btn btn-primary shadow"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Launch demo modal
      </button>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>
              <button
                class="btn btn-success shadow mx-2"
                (click)="onEdit(user)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Update
              </button>
              <button
                class="btn btn-danger shadow"
                (click)="deleteUser(user.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formvalue">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="Mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
         <button
          type="button"
          class="btn btn-success"
          *ngIf="showUpdatebutton"
          (click)="updateUser()">
          Update
      </button>
      <button type="button" class="btn btn-primary" *ngIf="showAddbutton"  (click)="addUser()">
          Save
      </button>
      </div>

    </div>
  </div>
</div>
