<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="form-group py-3">
                <label for="">
                    Post Title
                </label>
                <input type="text" class="form-control" #title (keyup.enter)="createPost(title)" >
            </div>
             <div *ngIf="errorMessage">
                <div class="alert bg-danger text-white" >
                    {{errorMessage}}
                </div>
             </div>
            

            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start"
                  *ngFor="let post of posts"
                >
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{post.title}}</div>
                         {{post.body}}
                  </div>
                  <span class="badge bg-primary rounded-pill">{{post.userId}}</span>
                </li>
               
              </ol>
        </div>
    </div>
</div>